@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.paragraphOfWitch {
  position: absolute;
  color: #000;
  transform: translate(-50%, -50%);
  display: none;
  font-family: "Pixelify Sans";
  z-index: 10;
  font-weight: bold;
}

img {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 150%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.paragraphOfWitch2 {
  position: absolute;
  color: #000;
  transform: translate(-50%, -50%);
  display: none;
  font-family: "Pixelify Sans";
  font-weight: bold;
  z-index: 10;
}

.coinsOfPlayer {
  color: #fff;
  position: absolute;
  font-family: "Pixelify Sans";
}

.corner {
  position: absolute;
  width: 40px;
}

.box {
  position: absolute;
  box-shadow: 10px 10px 4px #303131;
}

canvas {
  width: 1000px;
  height: 1000px;
}